html {
    background: url('../../../../img/auth_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    
}

.logo {
    text-align: center;
    margin-bottom: 15px;
}

div#user {
    display:flex;
    justify-content: space-around;
    align-items: center;
}


.auth_title {
    cursor: pointer;
}