
.post-table {
    width: 100%;
    min-width: 1000px;
    height: 768px;
    /* border: 1px solid #000; */
    border-radius: 16px;

    /* 음영처리 */
    /*   x축, y축, 블러크기, 색상 */
    box-shadow: 0 0 8px #aaa;

    /* 박스 x축 중앙 정렬 : 마진 좌우값을 auto로 설정 */
    margin: 0 auto 100px;

    position: relative;
    
    display: flex;
    flex-direction: column;
}

.post-top{
    margin-top: 0 10px;
    display: flex;
    padding: 20px 30px 0px 30px;
    /* 자식박스가 부모의 길이나 너비를 넘어갔을 때 */
    overflow: auto;
}
.post-top .post-top-title{
    width: 20%;
    text-align: center;
}
.post-content-title{
    margin: 150px auto 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.post-top .post-top-content{
    width: 74%;
    text-align: center;
}

.post-top .post-top-allow{
    width: 5%;
    text-align: center;
}
/* 로딩중 style */
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.loading .spinner-border {
    width: 200px;
    height: 200px;
    --bs-spinner-border-width: 1.5rem;
}
.loading .text-danger {
    color: rgba(13, 245, 245, 0.767) !important;
}
