.post-list .post-list-ul .admin-post-list-li{
    display: flex;

}

.admin-post-list-li .admin-post-list-link .admin-post-title{
    width: 20%;
}

.admin-post-list-li .admin-post-list-link .admin-post-content{
    width: 75%;
    display: flex;
    margin: 0 30px;
}
.post-list button{
    height: 30px;
    width:40px;
}
.admin-post-allow{
    font-size: 25px;
    cursor: pointer;
    color: rgb(255, 71, 71);
}

.admin-post-allow.true{
    color: rgb(66, 175, 66);
}

.admin-post-list-li .admin-post-list-link{
    text-decoration-line: none;
    color: black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    
}


.post-list-ul .admin-post-list-li {
    display: flex;
}