.intro-bg{
    min-height: 75vh;
    width: 100%;
    opacity: 1;
    background: url('../../../img/pp2.gif') center top / cover transparent;
    display: grid;
    place-items: center;
}
.intro-bg .intro-text{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 50%;
    font-size: xxx-large;
    transform: translate(-50%, 0);
}