/* MainPage.js 에서 quote(견적),postmain(메인-게시판) 부분 전체를 꾸며주는 css */

.page-main{
    background-color: rgb(255 255 255 / 80%);
    margin: -200px 20px 0px 20px;
    border-radius: 10px;
    margin-top: -100px;
    padding: 50px;
    backdrop-filter: saturate(200%) blur(30px);
}