.page-main{
    background-color: rgb(255 255 255 / 80%);
    margin: -80px 20px 0px 20px;
    border-radius: 10px;
    padding: 50px;
    backdrop-filter: saturate(200%) blur(30px);
}
.css-13sljp9 {
    width: 100%;
}
.link{
    color: #fff;
    text-decoration: none;
}

.link-text-blue{
    color: #44719b;
    text-decoration: none;
}