.intro-bg{
    min-height: 75vh;
    width: 100%;
    opacity: 1;
    /* background: url('../../../img/main_bg.jpg') center top / cover transparent; */
    background: url('../../../../img/pp2.gif') center top / cover transparent;

    
    height: 700px;
    width: 2000px;
    display: grid;
    place-items: center;
}
.intro-bg .intro-text{
    font-size: xxx-large;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}