
.post-table {
    width: 1100px;
    /* border: 1px solid #000; */
    border-radius: 16px;

    /* 음영처리 */
    /*   x축, y축, 블러크기, 색상 */
    box-shadow: 0 0 8px #aaa;

    /* 박스 x축 중앙 정렬 : 마진 좌우값을 auto로 설정 */
    margin: 0 auto 30px;

    position: relative;
    
    display: flex;
    flex-direction: column;
}
table{
    margin: auto;
}
.post-top{
    margin-top: 0 10px;
    display: flex;
    padding: 20px 30px 0px 30px;
    /* 자식박스가 부모의 길이나 너비를 넘어갔을 때 */
    overflow: auto;
}
.post-table .post-top .post-top-title{
    width: 5%;
    text-align: center;
    display: block;
}
.post-content-title{
    margin: 150px auto 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.post-table .post-top .post-top-content{
    width: 75%;
    text-align: center;
    display: block;
}

.post-table .post-top .post-top-allow{
    width: 20%;
    text-align: center;
    display: block;
}
/* 로딩중 style */
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
.loading .spinner-border {
    width: 200px;
    height: 200px;
    --bs-spinner-border-width: 1.5rem;
}
.loading .text-danger {
    color: rgba(13, 245, 245, 0.767) !important;
}
.post-write-button {
    width: 300px;
    height: 50px;
    font-size: 16px !important;
    border-radius: 30px !important;
    left: 50%;
    transform: translate(-50%, 0);
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }
  
  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #337ab7;
  }
  
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }