.post-list-li{
    display: contents !important;
    align-items: center;
    height: 55px;
    width: 100%;
    box-sizing: border-box;
}
.post-list .post-title{
    width: 20%;
    display: flex;
}
.post-list .post-title-none{
    width: 100%;
    text-align: center;
}

.post-list .post-content{
    width: 74%;
    display: flex;
}
.post-list .post-allow{
    color: #fff;
    background: #02a132;
    padding: 4px;
    font-size: 13px;
    border-radius: 7px;
}
.post-list button{
    height: 30px;
    width:40px;
}


.post-list-li .post-list-link{
    text-decoration-line: none;
    color: black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
}
.hashtag-box-list{
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #b8b8b8;
}
.hashtag-box.true{
    padding:3px 5px !important;

}
#hashTag1, #hashTag2{
    font-size: 12px !important;
}